.base-timer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: var(--color-passive);
}

.base-timer__label {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-contrast);
}

.base-timer__iconCheck {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--color-contrast);
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: var(--color-contrast);
}

.base-timer__svg {
    transform: scaleX(-1);
}
